<?xml version="1.0" encoding="utf-8"?><PhoneConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><AAFlag>false</AAFlag><CFBFlag>false</CFBFlag><CFNRFlag>false</CFNRFlag><CFUFlag>false</CFUFlag><DNDFlag>false</DNDFlag><DefaultAccountIndex>0</DefaultAccountIndex><SIPPort>5060</SIPPort><HostName></HostName><Id></Id><Index>0</Index><Password></Password><RegState>0</RegState><TransportMode>TM_UDP</TransportMode><UserName></UserName></PhoneConfig>